@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.list-image-custom {
  list-style-image: url('/vercel.svg');
}

.table-scrollbar {
  /* Ensure the element can scroll */
  overflow: auto;

  /* Custom scrollbar styles */
}

.table-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

.table-scrollbar::-webkit-scrollbar-track {
  background: #f0fdf1;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}

.table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #177e29;
}

.drag-overlay {
  z-index: 50; /* Ensure it's above all other elements */
  position: fixed; /* Prevent layout interference */
}
